<style>
p{
    margin-top: .25rem;
    margin-bottom: 0;
}
h2{
   color:darkgreen;
    text-align: left;
   
}
h3{
    color:darkgreen;
}
article{
	/* #fff0ca */
    background-color: #fff0ca;
}
article:hover{
    padding: 5px;
    width: 100%;
    border-radius: 1.25rem;
    display: grid;
    place-items: center;
    transition: background-color 225ms ease-out .16s;
    cursor: pointer;
}
.title{
     color:darkgreen;  
    margin: 0;
    line-height: calc(1em + .5rem);
    box-sizing: border-box;
    overflow-wrap: break-word;
    margin-top: 0;
    margin-bottom: .5rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-smaller);
    letter-spacing: .05em;
}
h5{
font-weight: 3rem;
color:darkgreen;
}
.hover {
  transition: transform 0.5s;
  background-color:beige;
  text-align: center;
}

.hover:hover {
  transform: scale(0.9);
}
.heading{
    margin-bottom: 1.5rem;
    max-width: 32rem;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}
</style>

<div id="products" style="background-color: beige;"class="feature px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
	<div class="max-w-xl mb-6 sm:mx-auto sm:text-center md:mb-10 lg:max-w-2xl">
	  <p  style="margin-bottom: 3vw;"class="heading mb-1 text-xs font-semibold tracking-wide uppercase md:mb-2">

	  Featured Products
	</p>
	  <p style="text-align: start;"class="text-base text-gray-700 md:text-lg">
      Our Company is committed to produce superior quality 'JAVA'juice and distribute to the Ethiopian and regional market based on the requirements of ISO22000:2018 Food Safety Management System as well as applicable local and international laws and regulations.
	  </p>
	</div>
	<div class="grid gap-6 row-gap-5 lg:grid-cols-3">
	  <div style="text-align:left;" class="hover">
		<img class="object-cover w-full h-64 mb-6 rounded shadow-lg lg:h-80 xl:h-96" src="../../assets/images/experience.jpeg" alt="" />
		<h5 class="mb-2 text-xl font-bold leading-none sm:text-2xl">
      'JAVA' fruit juice    </h5>
		<p  class="text-gray-700">
      different flavors such as Mango, Apple, Orange, and Mixed Juice.
    </p>
	  </div>
	  <div style="text-align:left;" class="hover">
		<img class="object-cover w-full h-64 mb-6 rounded shadow-lg lg:h-80 xl:h-96" src="../../assets/images/drinkhealthy.jpeg" alt="" />
		<h5 class="mb-2 text-xl font-bold leading-none sm:text-2xl">
      Bottled juice
    </h5>
		<p   class="text-gray-700">
      various bottle sizes ranging from 250 ml to 2000 ml.
		</p>
	  </div>
	  <div style="text-align:left;" class="hover">
		<img class="object-cover w-full h-64 mb-6 rounded shadow-lg lg:h-80 xl:h-96" src="../../assets/images/drinker.jpeg" alt="" />
		<h5 class="mb-2 text-xl font-bold leading-none sm:text-2xl">
      Fruit-flavored bottled beverages
    </h5>
		<p  class="text-gray-700">
       Under the brand name 'JAVA JUICE', including Mango juice and plans to gradually diversify into Apple, Orange, and Mixed Juice varieties.
		</p>
	  </div>
	</div>
  </div>