<style>
p{
   color:green;
    margin-top: .25rem;
    margin-bottom: 0;
}
h2{
   color:green;
    text-align: left;
   
}
h3{
    color:green;
}
article{
	/* #fff0ca */
    background-color: #fff0ca;
}
article:hover{
    padding: 5px;
    width: 100%;
    border-radius: 1.25rem;
    display: grid;
    place-items: center;
    transition: background-color 225ms ease-out .16s;
    cursor: pointer;
}
.title{
     color:green;  
    margin: 0;
    line-height: calc(1em + .5rem);
    box-sizing: border-box;
    overflow-wrap: break-word;
    margin-top: 0;
    margin-bottom: .5rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-smaller);
    letter-spacing: .05em;
}
.feature{
	/* #fef9e5; */
    background-color:beige;
}
h5{
font-weight: 3rem;
color:green;
}
.hover {
  transition: transform 0.5s;
}

.hover:hover {
  transform: scale(0.9);
}
</style>

<div class="feature px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
	<div class="max-w-xl mb-6 sm:mx-auto sm:text-center md:mb-10 lg:max-w-2xl">
	  <p  style="font-size:4vw;margin-bottom: 3vw;"class="mb-1 text-xs font-semibold tracking-wide uppercase md:mb-2">

	  Featured Products
	</p>
	  <p class="text-base text-gray-700 md:text-lg">
		Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae.
	  </p>
	</div>
	<div class="grid gap-6 row-gap-5 lg:grid-cols-3">
	  <div class="hover">
		<img class="object-cover w-full h-64 mb-6 rounded shadow-lg lg:h-80 xl:h-96" src="../../assets/images/experience.jpeg" alt="" />
		<h5 class="mb-2 text-xl font-bold leading-none sm:text-2xl">
		  A slice of heaven
		</h5>
		<p class="text-gray-700">
		  O for awesome, this chocka full cuzzie is as rip-off as a cracker. Meanwhile, in behind the bicycle shed, Hercules Morse.
		</p>
	  </div>
	  <div class="hover">
		<img class="object-cover w-full h-64 mb-6 rounded shadow-lg lg:h-80 xl:h-96" src="../../assets/images/drinkhealthy.jpeg" alt="" />
		<h5 class="mb-2 text-xl font-bold leading-none sm:text-2xl">
		  Disrupt inspire
		</h5>
		<p class="text-gray-700">
		  I'll be sure to note that in my log. Smooth as an android's bottom, eh, Data? When has justice ever been as simple as a rule book?
		</p>
	  </div>
	  <div class="hover">
		<img class="object-cover w-full h-64 mb-6 rounded shadow-lg lg:h-80 xl:h-96" src="../../assets/images/drinker.jpeg" alt="" />
		<h5 class="mb-2 text-xl font-bold leading-none sm:text-2xl">
		  Storage shed
		</h5>
		<p class="text-gray-700">
		  Yolo ipsum dolor sit amet, consectetur adipiscing elit. Ut ac suscipit leo. Carpe diem vulputate est nec commodo rutrum.
		</p>
	  </div>
	</div>
  </div>