<div style="background-color: beige;" >
  <div style="text-align:center;" class=" flex flex-col px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-50 lg:px-50 lg:py-20 ">
    <div>
      <h2 class="relative mb-4 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
        <span class="relative inline-block">
          <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
            <defs>
              <pattern id="6bfa0e57-faa2-4bb2-ac0e-310782e5eb2d" x="0" y="0" width=".135" height=".30">
                <circle cx="1" cy="1" r=".7"></circle>
              </pattern>
            </defs>
            <rect fill="url(#6bfa0e57-faa2-4bb2-ac0e-310782e5eb2d)" width="52" height="24"></rect>
          </svg>
          <span class="relative">Our </span>
        </span>
        Clients Says 
      </h2>
      <p class="mb-4 text-gray-900 lg:mb-6">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem laudantium, totam rem aperiam, eaque ipsa quae explicabo.
      </p>
     
    </div>

</div>

<div id="custom-controls-gallery" class="relative w-full" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="say relative h-56 overflow-hidden rounded-lg md:h-96">
       <!-- Item 1 -->
       <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <div style="background-color:#fef9e5;" class="flex flex-col md:flex-row items-center justify-center md:justify-start mx-auto max-w-3xl  shadow-lg rounded-lg py-8 px-4 md:p-6 absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            <!-- Left side with person image -->
            <div class="md:w-1/4 mb-4 md:mb-0">
              <img class="rounded-full w-32 h-32 mx-auto md:mx-0" src="../../assets/images/students.jpeg" alt="Person Image">
            </div>
            <!-- Right side with person details -->
            <div class="md:w-3/4 md:pl-8">
              <h2 class="text-2xl font-bold text-gray-800 mb-2">John Doe</h2>
              <p class="text-lg text-gray-600 mb-4">"I believe that everything happens for a reason."</p>
              <ul class="flex flex-row list-none mb-4">
                <li class="mr-4">
                  <a href="#" class="text-blue-500 hover:text-blue-700">
                    <i class="fab fa-facebook fa-lg"></i>
                  </a>
                </li>
                <li class="mr-4">
                  <a href="#" class="text-blue-500 hover:text-blue-700">
                    <i class="fab fa-twitter fa-lg"></i>
                  </a>
                </li>
                <li class="mr-4">
                  <a href="#" class="text-blue-500 hover:text-blue-700">
                    <i class="fab fa-linkedin fa-lg"></i>
                  </a>
                </li>
                <li class="mr-4">
                  <a href="#" class="text-blue-500 hover:text-blue-700">
                    <i class="fab fa-github fa-lg"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
           </div>

          <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <div style="background-color:#fef9e5;" class="flex flex-col md:flex-row items-center justify-center md:justify-start mx-auto max-w-3xl  shadow-lg rounded-lg py-8 px-4 md:p-6 absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            <!-- Left side with person image -->
            <div class="md:w-1/4 mb-4 md:mb-0">
              <img class="rounded-full w-32 h-32 mx-auto md:mx-0" src="../../assets/images/experience.jpeg" alt="Person Image">
            </div>
            <!-- Right side with person details -->
            <div class="md:w-3/4 md:pl-8">
              <h2 class="text-2xl font-bold text-gray-800 mb-2">John Doe</h2>
              <p class="text-lg text-gray-600 mb-4">"I believe that everything happens for a reason."</p>
              <ul class="flex flex-row list-none mb-4">
                <li class="mr-4">
                  <a href="#" class="text-blue-500 hover:text-blue-700">
                    <i class="fab fa-facebook fa-lg"></i>
                  </a>
                </li>
                <li class="mr-4">
                  <a href="#" class="text-blue-500 hover:text-blue-700">
                    <i class="fab fa-twitter fa-lg"></i>
                  </a>
                </li>
                <li class="mr-4">
                  <a href="#" class="text-blue-500 hover:text-blue-700">
                    <i class="fab fa-linkedin fa-lg"></i>
                  </a>
                </li>
                <li class="mr-4">
                  <a href="#" class="text-blue-500 hover:text-blue-700">
                    <i class="fab fa-github fa-lg"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          </div>

        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <div style="background-color:#fef9e5;" class="flex flex-col md:flex-row items-center justify-center md:justify-start mx-auto max-w-3xl  shadow-lg rounded-lg py-8 px-4 md:p-6 absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            <!-- Left side with person image -->
            <div class="md:w-1/4 mb-4 md:mb-0">
              <img class="rounded-full w-32 h-32 mx-auto md:mx-0" src="../../assets/images/shop3.jpeg" alt="Person Image">
            </div>
            <!-- Right side with person details -->
            <div class="md:w-3/4 md:pl-8">
              <h2 class="text-2xl font-bold text-gray-800 mb-2">John Doe</h2>
              <p class="text-lg text-gray-600 mb-4">"I believe that everything happens for a reason."</p>
              <ul class="flex flex-row list-none mb-4">
                <li class="mr-4">
                  <a href="#" class="text-blue-500 hover:text-blue-700">
                    <i class="fab fa-facebook fa-lg"></i>
                  </a>
                </li>
                <li class="mr-4">
                  <a href="#" class="text-blue-500 hover:text-blue-700">
                    <i class="fab fa-twitter fa-lg"></i>
                  </a>
                </li>
                <li class="mr-4">
                  <a href="#" class="text-blue-500 hover:text-blue-700">
                    <i class="fab fa-linkedin fa-lg"></i>
                  </a>
                </li>
                <li class="mr-4">
                  <a href="#" class="text-blue-500 hover:text-blue-700">
                    <i class="fab fa-github fa-lg"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          </div>
      <!-- Item 2 -->  
  </div>
  <div class="flex justify-center items-center pt-4">
      <button type="button" class="flex justify-center items-center mr-4 h-full cursor-pointer group focus:outline-none" data-carousel-prev>
          <span class="text-gray-400 hover:text-gray-900 dark:hover:text-white group-focus:text-gray-900 dark:group-focus:text-white">
              <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
              <span class="sr-only">Previous</span>
          </span>
      </button>
      <button type="button" class="flex justify-center items-center h-full cursor-pointer group focus:outline-none" data-carousel-next>
          <span class="text-gray-400 hover:text-gray-900 dark:hover:text-white group-focus:text-gray-900 dark:group-focus:text-white">
              <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              <span class="sr-only">Next</span>
          </span>
      </button>
  </div>
</div>
</div>
<style>

@media screen and (min-width: 640px) {
  .lg\:w-1\/4 {
    width: 25%;
  }
}
.say{
 background-image: url("../../assets/images/drinkhealthy.jpeg");
 background-size: cover;
}
</style>

