<form [formGroup]="projectIdea" (submit)="onSubmit(projectIdea.value)">

<section class="py-6 dark:bg-gray-800 dark:text-gray-50">

	<div style="background-color:white;border-width: 4px;"class="grid max-w-6xl grid-cols-1 px-6 mx-auto lg:px-8 md:grid-cols-2  sm:grid-cols-2  md:divide-x">

        <section class="p-6 dark:text-gray-100">

            <div novalidate="" class="container w-full max-w-xl p-8 mx-auto space-y-6 rounded-md shadow dark:bg-gray-900 ng-untouched ng-pristine ng-valid">
                <h2 class="w-full text-3xl font-bold leading-tight">Add New Event</h2>
                <div>
                    <label for="name" class="block mb-1 ml-1">Title of Event</label>
                    <input id="name" formControlName="title" type="text" placeholder="your title" required="" class="block w-full p-2 rounded focus:outline-none focus:ring focus:ring-opacity-25 focus:ring-violet-400 dark:bg-gray-800">
                    <div style="color:rgb(241, 35, 35)"
          *ngIf="formControls.title.invalid && formControls.title.touched"
        >
          This field is required.
        </div>
                </div>
                <div>
                    <label for="message" class="block mb-1 ml-1">Write Short Message About Event</label>
                    <textarea 
                    formControlName="descriptionS"
                    class="form-control" id="message" type="text" placeholder="Message..." class="block w-full p-2 rounded autoexpand focus:outline-none focus:ring focus:ring-opacity-25 focus:ring-violet-400 dark:bg-gray-800"></textarea>
                    <div style="color:rgb(241, 35, 35)"
                    *ngIf="formControls.descriptionS.invalid && formControls.descriptionS.touched"
                  >
                    This field is required.
                  </div>

                </div>
                <fieldset class="w-full  dark:text-gray-100">
                    <label for="fileInput" id="fileLabel" class="block text-sm font-medium">Add Image</label>
                    <div  style="background-color: white;"class="flex">
                        <input  type="file"
                        accept="image/*"
                        style="visibility: none"
                        class="form-control"
                        #fileUploader
                        formControlName="imageUrl"
                        (change)="showPreview($event)"name="files" id="files" class="px-8 py-12 border-2 border-dashed rounded-md dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                    </div>
                </fieldset>
                <div>
                    <button style="background-color: darkgreen;color:white" type="submit" class="w-full px-4 py-2 font-bold rounded shadow focus:outline-none focus:ring hover:ring focus:ring-opacity-50 dark:bg-violet-400 focus:ring-violet-400 hover:ring-violet-400 dark:text-gray-900">Post Event</button>
                </div>
               
            </div>
        </section>
        <div style="background-color: beige;" class=" p-6 rounded-md shadow-md dark:bg-gray-900 dark:text-gray-50">
            <img  [src]="imgSrc"
                    (click)="fileUploader.click()" alt="" class="object-cover object-center w-full rounded-md h-72 dark:bg-gray-500">
            <div class="mt-6 mb-2">
                <h2 class="text-xl font-semibold tracking-wide">Title about your writting</h2>
            </div>
            <p class="dark:text-gray-100">Example description not more than 400 words is recommended.you can upload your image by clicking choose file or by click upload upload here </p>
        </div>
	</div>

</section>
</form>
<style>

#fileInput {
  /* Set opacity to 0 to hide the file input */
  opacity: 0;
  /* Set position to absolute to position it over the label */
  position: absolute;
  /* Set width and height to 0 to hide the file input */
  width: 0;
  height: 0;
}
</style>
<script>
 const fileInput = document.getElementById('fileInput');
const fileLabel = document.getElementById('fileLabel');

fileInput.addEventListener('change', (event) => {
  const fileName = event.target.files[0].name;
  fileLabel.textContent = fileName;
});

</script>