 <style>
 .containerad{
  background-image: url("../../assets/images/juiceback.jpe");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content:center;
  animation: bgAnimation 20s step-end infinite;

 }
 @keyframes bgAnimation {
  0% {
    background-image: url('../../assets/images/experience.jpeg');

  }
  25%{
    background-image: url('../../assets/images/extraJuice.jpeg');
  }
  50%{
    background-image: url('../../assets/images/drinkhealthy.jpeg');
  }
  75%{

background-image: url('../../assets/images/students.jpeg')
}
  100% {
    background-image: url('../../assets/images/howtomake.jpeg');
  }
}
.paragraph-container{
    font-family: "Montserrat",sans-serif;
    font-size: calc(1.525rem + 3.3vw);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.5rem!important;
    color:white;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: slideInDown;
    
}
.header{   
    font-family: "Montserrat",sans-serif;
    font-size: calc( 3vw);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.5rem!important;
    color:white;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: slideInDown;
    color:black;
}
 </style>
 
<div  class="containerad">
    <!-- <div class="header">
        <h1>Welcome to my website!</h1>
    </div>
    <div class="paragraph-container">
        <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.</p>
  </div> -->
<div>



