<style>
 .video{
  background-color:beige;
 }

</style>
  <div class="video px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="grid gap-5 row-gap-8 lg:grid-cols-2">
      <div class="flex flex-col justify-center">
        <div class="max-w-xl mb-6">
          <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
            About US<br class="hidden md:block" />

          </h2>
          <p class="text-base text-gray-700 md:text-lg">
            Sadura Food Processing Plant PLC is a sister company of KT Business Group. KT Business Group is one of the largest companies in Ethiopia with an increasingly diversified business portfolio ranging importing and distribution of IVECO Vehicles and Spare Parts, real estate development, Transport, Water Bottling, Fruit Juice Processing, Exporting of Agricultural products mainly Oilseeds,
             Black seeds, Green Mung and Fenugreek.
          </p>
          <p class="text-base text-gray-700 md:text-lg">
            Sadura Food Processing Plant PLC was established in 2015 by Ethiopian entrepreneurs with a vision to be the largest FMCG consortium in Ethiopia that invests in human capital and contributes to the growth of the economy.
          </p>
          
        </div>
        <div class="grid gap-5 row-gap-8 sm:grid-cols-2">
          <div class="bg-white border-l-4 shadow-sm border-deep-purple-accent-400">
            <div class="h-full p-5 border border-l-0 rounded-r">
              <h6 class="mb-2 font-semibold leading-5">
               Mission
              </h6>
              <p class="text-sm text-gray-900">
                Our Mission is to produce healthy, delicious, and Innovative organic drink that will satisfy the sophisticated modern consumer, Moreover we provide healthy products without harming the environments or the health of our Customer and we believe in saying “be the change you want to see in Africa” at juice station we strive to make the best juice possible without adding nasty elements.
              </p>
            </div>
          </div>
          <div class="bg-white border-l-4 shadow-sm border-deep-purple-accent-400">
            <div class="h-full p-5 border border-l-0 rounded-r">
              <h6 class="mb-2 font-semibold leading-5">
               Vision
              </h6>
              <p class="text-sm text-gray-900">
                The Generation to be natural loves of healthy
              </p>
            </div>
          </div>
        </div>
      </div>
      <div>
         <video id="my-video" autoplay loop muted>
            <source class="object-cover w-full h-56 rounded shadow-lg sm:h-96" src="../../assets/videos/thireVideo.mp4" type="video/mp4">
         </video>
      </div>
    </div>
  </div>